<div class="main-view">
  <div class="upper-contents">
    <div class="rabbit-form">
      <%= image_tag 'rabbit.png' %>
    </div>
    <div class="status-form">
      <div class="user-name">テスト君</div>
      <div class="coins">枚数</div>
      <div class="gacha">ガチャを回す</div>
      <div class="clothes">アイテム</div>
      <div class="friends">フレンド</div>
    </div>
  </div>
  <div class="lower-contents">
    <div class="tasks">
      <div class="task">タスク１</div>
      <div class="task">タスク２</div>
    </div>
    <div class="add-btn">add</div>
  </div>
</div>